.popup__container {
  position: relative;

  width: calc(150% * (430 / 1280));
  max-width: 430px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  margin: 0;
}

@media screen and (max-width: 768px) {
  .popup__container {
    min-width: 282px;
  }
}
