.popup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in, visibility .3s ease-out;
  -webkit-transition: opacity .3s ease-in, visibility .3s ease-out;
  -moz-transition: opacity .3s ease-in, visibility .3s ease-out;
  -ms-transition: opacity .3s ease-in, visibility .3s ease-out;
  -o-transition: opacity .3s ease-in, visibility .3s ease-out;
}